<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<body class="login">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1 th:utext="#{login.title}">Please enter your cloud name and password to continue</h1>
    </div>

    <form action="#" th:action="${postURL}" method="post" class="form-primary" id="loginForm" th:object="${loginInfo}">

        <!--/* Errors */-->
        <div class="form-group" data-show-valid-glyph="false">
            <div id="error" name="error"></div>
        </div>

        <!--/* Cloud Name */-->
        <div class="form-group" data-show-valid-glyph="false">
            <input type="text" id="cloudName" name="cloudName" class="form-control"
                   placeholder="=you..." th:placeholder="#{signUp.cloudName.placeholder}"
                   required="required" autofocus="autofocus" th:value="${loginInfo} == null ? '' : ${loginInfo.cloudName}"/>

            <p class="help-block" th:utext="#{signUp.cloudName.help}">e.g., =jane, =janedoe, =jane.doe</p>
        </div>

        <!--/* Password */-->
        <div class="form-group" data-show-valid-glyph="false">
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="password" th:placeholder="#{login.password.placeHolder}"
                   required="required"/>

            <p class="help-block" th:utext="#{login.password.help}">enter password</p>
        </div>

        <!--/* Forgot Password */-->
        <p class="secondary"><a href="forgotPassword.html" th:href="@{/forgotPassword}" th:utext="#{login.forgotPassword}">Forgot Password</a></p>

        <!--/* Redirect */-->
        <input type="hidden" name="redirect" id="redirect" value="" th:value="${param.redirect} ? ${param.redirect[0]} : (${loginInfo} ? ${loginInfo.cloudName})"/>

        <!--/* Submit */-->
        <button type="submit" class="button btn btn-lg btn-primary" th:utext="#{login.submit}">Login</button>

    </form>
</div>

<th:block layout:fragment="postFooterContent">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var msg = {
                cloudNameRequired: /*[[#{login.msg.cloudName.required}]]*/ 'Please enter your cloud name',
                passwordRequired: /*[[#{login.msg.password.required}]]*/ 'Please enter your password'
            };

            addFormValidation('#loginForm', {
                rules: {
                    cloudName: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    cloudName: {
                        required: msg.cloudNameRequired
                    },
                    password: {
                        required: msg.passwordRequired
                    }
                }
            }, /*[[${errors}]]*/ null
            );
        });
        /*]]>*/
    </script>

</th:block>

</body>
</html>
