<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<body class="payment">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">
    <div class="row-fluid">
        <div class="col-sm-1"></div>

        <div class="col-sm-5">
            <div class="page-header">
                <h1 th:utext="#{selectPayment.title}">Select Payment Method</h1>
            </div>

            <!--/* Don't show payment form if buying gift card and no credit card processor enabled */-->
            <form action="#" th:action="@{/makePayment}" method="post"
                  class="form-secondary" id="paymentForm" th:object="${paymentInfo}"
                  th:unless="*{txnType == 'buyGiftCard' and giftCodesOnly}">

                <!--/* Errors */-->
                <div class="form-group" data-show-valid-glyph="false">
                    <div id="error" name="error"></div>
                </div>

                <div class="form-control-feedback has-error" id="paymentTypeError"></div>

                <!--/* Gift cards */-->
                <div class="form-group" data-show-valid-glyph="false">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name="paymentType" id="giftCodeRadio" value="giftCode" th:checked="*{giftCodesOnly} or *{isByGiftCode()}"/>
                        </span>
                        <input type="text" id="giftCodes" name="giftCodes" placeholder="gift codes" th:placeholder="#{selectPayment.giftCodes.placeHolder}"
                               class="form-control" th:value="*{giftCodes}"/>
                    </div>
                    <p class="help-block" id="giftCodeHelp" th:utext="#{selectPayment.giftCodes.help}">Separate multiple gift codes by spaces</p>
                </div>

                <!--/* Credit card */-->
                <div class="form-group" th:unless="*{giftCodesOnly}">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" name="paymentType" id="creditCardRadio" value="creditCard" th:checked="*{isByCreditCard()}"/>
                        </span>
                        <label for="creditCardRadio">
                            <img src="img/credit-card-front.png"/><th:block th:utext="#{selectPayment.creditCard.placeHolder}">Credit card</th:block>
                        </label>
                    </div>
                </div>

                <!--/* I agree checkbox */-->
                <div class="form-group">
                    <label class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="terms" id="terms" th:checked="*{terms}"/>
                        </span>
                        <label class="secondary" th:utext="#{form.terms(${cspTermsUrl})}">
                            I agree to the
                            <a target="_blank" onclick="return windowpop(this.href, 545, 433);"
                               href="http://openidentityexchange.org/trust-frameworks/respect-trust-framework" th:href="${cspTermsUrl}">
                                Respect Trust Framework
                            </a>
                            and the one-person one-account rule.
                        </label>
                    </label>
                </div>

                <button type="submit" name="submitBtn" id="submitBtn" class="button btn btn-lg btn-primary" th:utext="#{form.next}">Next</button>

                <input type="hidden" name="numberOfClouds" value="" id="numberOfClouds" th:value="*{numberOfClouds}"/>
                <input type="hidden" name="txnType" value="" id="txnType" th:value="*{txnType}"/>
            </form>

            <!--/* Show placeholder if buying gift card and no credit card processor enabled */-->
            <div th:if="*{txnType == 'buyGiftCard' and giftCodesOnly}">
                <h2>Coming soon!</h2>
            </div>
        </div>


        <div class="col-sm-1"></div>


        <!--/* Order summary */-->
        <div class="col-sm-4">
            <div class="page-header" id="orderSummary">
                <h1 th:utext="#{orderSummary.title}">Order summary</h1>
            </div>

            <div class="equation" th:utext="#{orderSummary.body(${totalAmountText})}">
                <div class="addend">
                    Respect Network<br/>
                    LIFETIME membership
                </div>
                <div class="plus">+</div>
                <div class="addend">
                    LIFETIME Base<br/>
                    Cloud hosting
                </div>
                <div class="equals">$xx USD</div>
            </div>
        </div>

    </div>
</div>

<th:block layout:fragment="postFooterContent">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var msg = {
                paymentTypeRequired: /*[[#{selectPayment.msg.type.required}]]*/ 'Please select a payment method',
                giftCodesRequired: /*[[#{selectPayment.msg.giftCodes.required}]]*/ 'Please enter one or more gift codes',
                giftCodesAccident: /*[[#{selectPayment.msg.giftCodes.accident}]]*/ 'Payment with gift codes is not checked. However, a gift code has been provided.<br />Please verify that the gift code is appropriate and a proper payment type is selected',
                cspTermsRequired: /*[[#{form.msg.terms.required}]]*/ 'Please agree to the Respect Trust Framework to continue'
            };

            // select gift codes payment type if we start entering gift codes
            var giftCodesRadio = $('#giftCodeRadio');
            $('#giftCodes').on('change keydown keyup paste input click', function (event) {
                giftCodesRadio.prop('checked', true);
            });

            addFormValidation('#paymentForm', {
                rules: {
                    paymentType: {
                        required: true
                    },
                    giftCodes: {
                        required: {
                            depends: function (element) {
                                return ($('#giftCodeRadio:checked').length > 0);
                            }
                        }
                    },
                    terms: {
                        required: true
                    }
                },
                messages: {
                    paymentType: {
                        required: msg.paymentTypeRequired
                    },
                    giftCodes: {
                        required: msg.giftCodesRequired
                    },
                    terms: {
                        required: msg.cspTermsRequired
                    }
                },
                ext: {
                    paymentType: {
                        showValidGlyph: false
                    }
                }
            }, /*[[${errors}]]*/ null
            );
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>
