<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<body class="signup">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1 th:utext="#{signUp.title}">Choose your cloud name:</h1>
    </div>

    <form action="#" th:action="@{/signup}" method="post"
          class="form-primary" role="form" th:object="${signUpInfo}"
          autocomplete="off" accept-charset="UTF-8" id="signUpForm">

        <!--/* Errors */-->
        <div class="form-group" data-show-valid-glyph="false">
            <div id="error" name="error"></div>
        </div>

        <!--/* Cloud Name */-->
        <div class="form-group" id="cloudNameGroup">
            <input type="text" id="cloudName" name="cloudName" class="form-control" placeholder="=you..." th:placeholder="#{signUp.cloudName.placeholder}"
                   autofocus="autofocus" required="required" th:value="*{cloudName}" />
            <span id="cloudNameHelpIcon" class="glyphicon glyphicon-ok form-control-feedback hidden"></span>
            <span id="cloudNameHelp" class="form-control-feedback"></span>
        </div>

        <p class="secondary" th:utext="#{signUp.cloudName.help}">e.g., =jane, =janedoe, =jane.doe</p>

        <button type="submit" name="submitBtn" id="submitBtn" class="btn btn-lg btn-primary" th:utext="#{form.next}">Next</button>

        <input type="hidden" name="giftCode" id="giftCode" th:value="*{giftCode}" th:if="${signUpInfo} != null"/>
    </form>
</div>

<th:block layout:fragment="postFooterContent">
    <script src="js/libs/checkCloudName.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var msg = {
                error: /*[[#{signUp.msg.error}]]*/ 'Unknown error while checking cloud name',
                available: /*[[#{signUp.msg.available}]]*/ 'Your cloud name is available',
                unavailable: /*[[#{signUp.msg.unavailable}]]*/ 'This cloud name is NOT available',
                invalid: /*[[#{signUp.msg.invalid}]]*/ 'Cloud names must contain at least any 2 of<br/><b>letters&nbsp;numbers&nbsp;.&nbsp;-</b><br/>with no consecutive (or ending/starting with) <b>.</b> or <b>-</b>'
            };

            $.validator.addMethod("isAvailable", function (value, element, param) {
                return isAvailable;
            });

            addFormValidation('#signUpForm', {
                rules: {
                    cloudName: {
                        required: true,
                        minlength: 0,
                        isAvailable: true
                    }
                },
                errorPlacement: function(label, element) {
                    if (element.attr('id') == 'error') {
                        label.insertAfter(element);
                    }
                }
            }, /*[[${errors}]]*/ null
            );

            var cloudNameGroup = $('#cloudNameGroup');
            var cloudNameHelpIcon = $('#cloudNameHelpIcon');

            // the value of this var is the id of the input element that the user is typing into
            var cloudNameField = "#cloudName";
            var cloudNameInput = $(cloudNameField);

            // the value of this var is the id of the display element that will be used to convey information to the user
            var messageSpan = $(cloudNameField + 'Help');

            var isAvailable = false;

            cloudNameInput.checkCloudName({

                completed: function (cloudCheckResult) {

                    // no longer loading
                    cloudNameInput.removeClass('btn-primary-loading');

                    // reset view state
                    cloudNameGroup.removeClass('has-success has-warning has-error');
                    cloudNameHelpIcon.removeClass('glyphicon-ok glyphicon-remove glyphicon-warning-sign');

                    // assume unavailable
                    isAvailable = false;

                    if (this.debug) {
                        console.log('completed :: cloudCheckResult=' + cloudCheckResult);
                    }

                    switch (cloudCheckResult) {
                        default:
                        case CloudCheckResult.CLEAR:
                            messageSpan.html('');
                            cloudNameHelpIcon.addClass('hidden');
                            break;

                        case CloudCheckResult.ERROR:
                            cloudNameGroup.addClass('has-error');
                            messageSpan.html(msg.error);
                            cloudNameHelpIcon.removeClass('hidden').addClass('glyphicon-remove');
                            break;

                        case CloudCheckResult.INVALID:
                            cloudNameGroup.addClass('has-error');
                            messageSpan.html(msg.invalid);
                            cloudNameHelpIcon.removeClass('hidden').addClass('glyphicon-remove');
                            break;

                        case CloudCheckResult.AVAILABLE:
                            isAvailable = true;
                            messageSpan.html(msg.available);
                            cloudNameGroup.addClass('has-success');
                            cloudNameHelpIcon.removeClass('hidden').addClass('glyphicon-ok');
                            break;

                        case CloudCheckResult.UNAVAILABLE:
                            messageSpan.html(msg.unavailable);
                            cloudNameGroup.addClass('has-warning');
                            cloudNameHelpIcon.removeClass('hidden').addClass('glyphicon-warning-sign');
                            break;
                    }
                },

                changed: function (newCloudName) {
                    isAvailable = false;
                    cloudNameInput.addClass('btn-primary-loading');
                    if (this.debug) {
                        console.log('changed :: newCloudName=' + newCloudName);
                    }
                },

                debug: /*[[${cspDbgNameAvailability}]]*/ false
            });
        });
        /*]]>*/
    </script>
</th:block>

</body>

</html>
