<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<head>
    <link href="css/intlTelInput.css" rel="stylesheet"/>
</head>

<body class="userdetails">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1 th:utext="#{userDetails.title}">Email and phone verification is required to secure <br/>
            your cloud name in the Respect Network.</h1>
    </div>

    <form action="#" th:action="@{/processuserdetails}" method="post"
          class="form-primary" th:object="${userInfo}" id="userDetailsForm">

        <!--/* Errors */-->
        <div class="form-group" data-show-valid-glyph="false">
            <div id="error" name="error"></div>
        </div>

        <!--/* Email address */-->
        <div class="form-group" data-show-valid-glyph="false">
            <input type="email" id="email" name="email" class="form-control"
                   placeholder="email address" th:placeholder="#{userDetails.email.placeHolder}"
                   required="required" autofocus="autofocus" th:value="*{email}"/>
        </div>

        <!--/* Mobile number */-->
        <div class="form-group" data-show-valid-glyph="false">
            <div class="input-group">
                <input type="text" id="cc" name="cc" class="form-control mobile-phone-group" placeholder=""
                       required="required" th:value="*{cc}"/>
                <input type="tel" id="mobilePhone" name="mobilePhone" class="form-control mobile-phone-group"
                       placeholder="mobile phone" th:placeholder="#{userDetails.mobile.placeHolder}"
                       required="required" th:value="*{mobilePhone}"/>
            </div>
        </div>

        <p class="secondary" th:utext="#{userDetails.password.help}">Create a password for logging into your personal
            cloud:<br/>min 8 char with 2 digits, 2 letters and 1 symbol e.g. @,#,$
        </p>

        <!--/* Password fields */-->
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="create password" th:placeholder="#{userDetails.password.placeHolder}"
                   required="required"/>
        </div>

        <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                   placeholder="confirm password" th:placeholder="#{userDetails.confirmPassword.placeHolder}"
                   required="required"/>
        </div>

        <button type="submit" name="submitBtn" id="submitBtn" class="button btn btn-lg btn-primary" th:utext="#{form.next}">Next</button>

    </form>
</div>

<th:block layout:fragment="postFooterContent">
    <script src="js/libs/intlTelInput.min.js"></script>
    <script src="js/libs/data.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#cc").intlTelInput();

        $(document).ready(function () {

            var msg = {
                emailRequired: /*[[#{userDetails.msg.email.required}]]*/ 'Please enter a valid email address',
                emailInvalid: /*[[#{userDetails.msg.email.required}]]*/ 'Please enter a valid email address',
                ccRequired: /*[[#{userDetails.msg.cc.required}]]*/ 'Please choose a country code',
                ccInvalid: /*[[#{userDetails.msg.cc.invalid}]]*/ 'Your country code should be in the form +NNN',
                mobileRequired: /*[[#{userDetails.msg.mobile.required}]]*/ 'Please enter a mobile number',
                mobileMinLength: /*[[#{userDetails.msg.mobile.minLength}]]*/ 'Your number is too short',
                mobileInvalid: /*[[#{userDetails.msg.mobile.invalid}]]*/ 'Your number should only contain numbers and spaces',
                passwordRequired: /*[[#{userDetails.msg.password.required}]]*/ 'Please provide a password',
                passwordMinLength: /*[[#{userDetails.msg.password.minLength}]]*/ 'Your password must be at least {0} characters',
                passwordAlpha: /*[[#{userDetails.msg.password.alpha}]]*/ 'Password must contain at least {0} letters',
                passwordNumeric: /*[[#{userDetails.msg.password.numeric}]]*/ 'Password must contain at least {0} numbers',
                passwordSymbolic: /*[[#{userDetails.msg.password.symbolic}]]*/ 'Password must contain at least {0} symbols',
                confirmPasswordRequired: /*[[#{userDetails.msg.confirmPassword.required}]]*/ 'Please repeat password',
                confirmPasswordEqualTo: /*[[#{userDetails.msg.confirmPassword.equalTo}]]*/ 'Passwords do not match'
            };

            function satisfiesRange(value, reqCount, range) {
                if (reqCount <= 0) {
                    return true;
                }

                var foundCount = 0;
                for (var i = 0; i < value.length; i++) {
                    var idx = range.indexOf(value[i]);
                    if (idx >= 0 && ++foundCount == reqCount) {
                        return true;
                    }
                }
                return false;
            }

            $.validator.addMethod('checkPasswordAlpha', function (value, element, params) {
                return satisfiesRange(value, params.count, params.range);
            });
            $.validator.addMethod('checkPasswordNumeric', function (value, element, params) {
                return satisfiesRange(value, params.count, params.range);
            });
            $.validator.addMethod('checkPasswordSymbolic', function (value, element, params) {
                return satisfiesRange(value, params.count, params.range);
            });
            $.validator.addMethod('validateCC', function (value, element, params) {
                return /^\+[0-9 ]{1,3}$/.test(value);
            });
            $.validator.addMethod('validatePhoneNumber', function (value, element, params) {
                return /^[0-9 ]{4,14}(?:x.+)?$/.test(value);
            });
            $.validator.addMethod('simpleEmailFormat', function (value, element, params) {
                var isValid = /^.*@.*\..*$/.test(value);
                console.log('isValid=' + isValid);
                return isValid;
            });

            var PASSWORD_MIN_LENGTH = 8;
            var PASSWORD_MIN_ALPHA = 2;
            var PASSWORD_MIN_NUMERIC = 2;
            var PASSWORD_MIN_SYMBOLIC = 1;

            var PASSWORD_ALPHA = 'abcdefghijklmnopqrstuvwqyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var PASSWORD_NUMERIC = '1234567890';
            var PASSWORD_SYMBOLS = '~!@#$%^&*()_+`-={}|[]\\;\':",./<>?';

            addFormValidation('#userDetailsForm', {
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    cc: {
                        required: true,
                        validateCC: true,
                        requireFromGroup: [2, '.mobile-phone-group']
                    },
                    mobilePhone: {
                        required: true,
                        minlength: 4,
                        validatePhoneNumber: true,
                        requireFromGroup: [2, '.mobile-phone-group']
                    },
                    password: {
                        required: true,
                        minlength: PASSWORD_MIN_LENGTH,
                        checkPasswordAlpha: { count: PASSWORD_MIN_ALPHA, range: PASSWORD_ALPHA, toString: function () { return this.count; } },
                        checkPasswordNumeric: { count: PASSWORD_MIN_NUMERIC, range: PASSWORD_NUMERIC, toString: function () { return this.count; } },
                        checkPasswordSymbolic: { count: PASSWORD_MIN_SYMBOLIC, range: PASSWORD_SYMBOLS, toString: function () { return this.count; } }
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                messages: {
                    email: {
                        required: msg.emailRequired,
                        email: msg.emailInvalid
                    },
                    cc: {
                        required: msg.ccRequired,
                        validateCC: msg.ccInvalid,
                        requireFromGroup: ''
                    },
                    mobilePhone: {
                        required: msg.mobileRequired,
                        minlength: msg.mobileMinLength,
                        validatePhoneNumber: msg.mobileInvalid,
                        requireFromGroup: ''
                    },
                    password: {
                        required: msg.passwordRequired,
                        checkPasswordAlpha: msg.passwordAlpha,
                        checkPasswordNumeric: msg.passwordNumeric,
                        checkPasswordSymbolic: msg.passwordSymbolic,
                        minlength: msg.passwordMinLength
                    },
                    confirmPassword: {
                        required: msg.confirmPasswordRequired,
                        equalTo: msg.confirmPasswordEqualTo
                    }
                },
                groups: {
                    mobile: 'cc mobilePhone'
                }
            }, /*[[${errors}]]*/ null
            );
        });
        /*]]>*/
    </script>

</th:block>

</body>
</html>
