<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/page">

<body class="validate">

<!--/* No nav dropdown for this page */-->
<div layout:fragment="nav"></div>

<div class="container" layout:fragment="bodyContent">

    <div class="page-header">
        <h1 th:utext="#{validateCodes.title}">Verification codes have been sent to your email and phone<br/>
            <small>Enter those codes in the fields below<br/>
                Codes are not case sensitive
            </small>
        </h1>
    </div>

    <form action="#" th:action="@{/validatecodes}" method="post"
          class="form-primary" th:object="${validateInfo}" id="validateCodesForm">

        <!--/* Errors */-->
        <div class="form-group" data-show-valid-glyph="false">
            <div id="error" name="error"></div>
        </div>

        <!--/* Email code */-->
        <div class="form-group" data-show-valid-glyph="false">
            <input type="text" id="emailCode" name="emailCode" class="form-control" autocomplete="off"
                   placeholder="email code" th:placeholder="#{validateCodes.emailCode.placeholder}"
                   required="required" autofocus="autofocus"/>

            <p class="help-block" th:utext="#{validateCodes.emailCode.help(${verifyingEmail})}">
                Sent to abc@example.com
            </p>
        </div>

        <!--/* Text code */-->
        <div class="form-group" data-show-valid-glyph="false">
            <input type="text" id="smsCode" name="smsCode" class="form-control" autocomplete="off"
                   placeholder="text code"  th:placeholder="#{validateCodes.smsCode.placeholder}"
                   required="required"/>

            <p class="help-block" th:utext="#{validateCodes.smsCode.help(${verifyingPhone})}">
                Sent to +123546789
            </p>
        </div>

        <!--/* I agree checkbox */-->
        <div class="form-group">
            <label class="secondary">
                <input type="checkbox" id="terms" name="terms" th:checked="*{terms}"/>
                <th:block th:utext="#{form.terms(${cspTermsUrl})}">
                I agree to the
                <a target="_blank" onclick="return windowpop(this.href, 545, 433);"
                   href="http://openidentityexchange.org/trust-frameworks/respect-trust-framework">
                    Respect Trust Framework
                </a>
                and the one-person one-account rule.
                </th:block>
            </label>
        </div>

        <!--/* Buttons */-->
        <div class="form-group">
            <button type="submit" id="submitBtn" name="submitBtn" class="btn btn-lg btn-primary"
                    th:utext="#{validateCodes.btn.verify}">Verify</button>
        </div>

        <div class="form-group">
            <button type="submit" id="resendCodes" name="resendCodes" class="btn btn-lg btn-info"
                    th:utext="#{validateCodes.btn.sendNewCodes}">Send new codes</button>
        </div>

        <!--/* Vars */-->
        <input type="hidden" id="resetPwd" name="resetPwd" value="false" th:value="*{resetPwd}"/>
    </form>
</div>

<th:block layout:fragment="postFooterContent">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var msg = {
                emailCodeRequired: /*[[#{validateCodes.msg.emailCode.required}]]*/ 'Please enter the email code',
                smsCodeRequired: /*[[#{validateCodes.msg.smsCode.required}]]*/ 'Please enter the sms code',
                termsRequired: /*[[#{form.msg.terms.required}]]*/ 'Please agree to the Respect Trust Framework to continue'
            };

            addFormValidation('#validateCodesForm', {
                rules: {
                    emailCode: {
                        required: true
                    },
                    smsCode: {
                        required: true
                    },
                    terms: {
                        required: true
                    }
                },
                messages: {
                    emailCode: {
                        required: msg.emailCodeRequired
                    },
                    smsCode: {
                        required: msg.smsCodeRequired
                    },
                    terms: {
                        required: msg.termsRequired
                    }
                }
            }, /*[[${errors}]]*/ null
            );
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>
